In [1]:
import os
import pymysql
import numpy as np
import pandas as pd
import MySQLdb

In [2]:
# Load the sql magic jupyter notebook extension
%load_ext sql

In [3]:
# Configure sql magic to output queries as pandas dataframes
%config SqlMagic.autopandas=True

In [4]:
# Import the MySQLdb library
import MySQLdb

In [5]:
# The connection to the MySQL database uses the following format:
%sql mysql://root:Mystatus!29@localhost/spacex

In [6]:
%%sql  
SELECT * FROM spacex_data limit 5;

 * mysql://root:***@localhost/spacex
5 rows affected.

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing _Outcome
0,04-06-2010,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,08-12-2010,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,22-05-2012,07:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,08-10-2012,00:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,01-03-2013,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

In [7]:
%sql select distinct(Launch_Site) from spacex.spacex_data;

 * mysql://root:***@localhost/spacex
4 rows affected.

    Launch_Site
0   CCAFS LC-40
1   VAFB SLC-4E
2    KSC LC-39A
3  CCAFS SLC-40

In [8]:
%sql select * from spacex.spacex_data where Launch_Site like 'CCA%'

 * mysql://root:***@localhost/spacex
60 rows affected.

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing _Outcome
0,04-06-2010,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,08-12-2010,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,22-05-2012,07:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,08-10-2012,00:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,01-03-2013,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt
5,03-12-2013,22:41:00,F9 v1.1,CCAFS LC-40,SES-8,3170,GTO,SES,Success,No attempt
6,06-01-2014,22:06:00,F9 v1.1,CCAFS LC-40,Thaicom 6,3325,GTO,Thaicom,Success,No attempt
7,18-04-2014,19:25:00,F9 v1.1,CCAFS LC-40,SpaceX CRS-3,2296,LEO (ISS),NASA (CRS),Success,Controlled (ocean)
8,14-07-2014,15:15:00,F9 v1.1,CCAFS LC-40,OG2 Mission 1 6 Orbcomm-OG2 satellites,1316,LEO,Orbcomm,Success,Controlled (ocean)
9,05-08-2014,08:00:00,F9 v1.1,CCAFS LC-40,AsiaSat 8,4535,GTO,AsiaSat,Success,No attempt
10,07-09-2014,05:00:00,F9 v1.1 B1011,CCAFS LC-40,AsiaSat 6,4428,GTO,AsiaSat,Success,No attempt
11,21-09-2014,05:52:00,F9 v1.1 B1010,CCAFS LC-40,SpaceX CRS-4,2216,LEO (ISS),NASA (CRS),Success,Uncontrolled (ocean)
12,10-01-2015,09:47:00,F9 v1.1 B1012,CCAFS LC-40,SpaceX CRS-5,2395,LEO (ISS),NASA (CRS),Success,Failure (drone ship)
13,11-02-2015,23:03:00,F9 v1.1 B1013,CCAFS LC-40,DSCOVR,570,HEO,U.S. Air Force NASA NOAA,Success,Controlled (ocean)
14,02-03-2015,03:50:00,F9 v1.1 B1014,CCAFS LC-40,ABS-3A Eutelsat 115 West B,4159,GTO,ABS Eutelsat,Success,No attempt
15,14-04-2015,20:10:00,F9 v1.1 B1015,CCAFS LC-40,SpaceX CRS-6,1898,LEO (ISS),NASA (CRS),Success,Failure (drone ship)
16,27-04-2015,23:03:00,F9 v1.1 B1016,CCAFS LC-40,Turkmen 52 / MonacoSAT,4707,GTO,Turkmenistan National Space Agency,Success,No attempt
17,28-06-2015,14:21:00,F9 v1.1 B1018,CCAFS LC-40,SpaceX CRS-7,1952,LEO (ISS),NASA (CRS),Failure (in flight),Precluded (drone ship)
18,22-12-2015,01:29:00,F9 FT B1019,CCAFS LC-40,OG2 Mission 2 11 Orbcomm-OG2 satellites,2034,LEO,Orbcomm,Success,Success (ground pad)
19,04-03-2016,23:35:00,F9 FT B1020,CCAFS LC-40,SES-9,5271,GTO,SES,Success,Failure (drone ship)
20,08-04-2016,20:43:00,F9 FT B1021.1,CCAFS LC-40,SpaceX CRS-8,3136,LEO (ISS),NASA (CRS),Success,Success (drone ship)
21,06-05-2016,05:21:00,F9 FT B1022,CCAFS LC-40,JCSAT-14,4696,GTO,SKY Perfect JSAT Group,Success,Success (drone ship)
22,27-05-2016,21:39:00,F9 FT B1023.1,CCAFS LC-40,Thaicom 8,3100,GTO,Thaicom,Success,Success (drone ship)
23,15-06-2016,14:29:00,F9 FT B1024,CCAFS LC-40,ABS-2A Eutelsat 117 West B,3600,GTO,ABS Eutelsat,Success,Failure (drone ship)
24,18-07-2016,04:45:00,F9 FT B1025.1,CCAFS LC-40,SpaceX CRS-9,2257,LEO (ISS),NASA (CRS),Success,Success (ground pad)
25,14-08-2016,05:26:00,F9 FT B1026,CCAFS LC-40,JCSAT-16,4600,GTO,SKY Perfect JSAT Group,Success,Success (drone ship)
26,15-12-2017,15:36:00,F9 FT B1035.2,CCAFS SLC-40,SpaceX CRS-13,2205,LEO (ISS),NASA (CRS),Success,Success (ground pad)
27,08-01-2018,01:00:00,F9 B4 B1043.1,CCAFS SLC-40,Zuma,5000,LEO,Northrop Grumman,Success (payload status unclear),Success (ground pad)
28,31-01-2018,21:25:00,F9 FT B1032.2,CCAFS SLC-40,GovSat-1 / SES-16,4230,GTO,SES,Success,Controlled (ocean)
29,06-03-2018,05:33:00,F9 B4 B1044,CCAFS SLC-40,Hispasat 30W-6 PODSat,6092,GTO,Hispasat NovaWurks,Success,No attempt
30,02-04-2018,20:30:00,F9 B4 B1039.2,CCAFS SLC-40,SpaceX CRS-14,2647,LEO (ISS),NASA (CRS),Success,No attempt
31,18-04-2018,22:51:00,F9 B4 B1045.1,CCAFS SLC-40,Transiting Exoplanet Survey Satellite (TESS),362,HEO,NASA (LSP),Success,Success (drone ship)
32,04-06-2018,04:45:00,F9 B4 B1040.2,CCAFS SLC-40,SES-12,5384,GTO,SES,Success,No attempt
33,29-06-2018,09:42:00,F9 B4 B1045.2,CCAFS SLC-40,SpaceX CRS-15,2697,LEO (ISS),NASA (CRS),Success,No attempt
34,22-07-2018,05:50:00,F9 B5B1047.1,CCAFS SLC-40,Telstar 19V,7075,GTO,Telesat,Success,Success
35,07-08-2018,05:18:00,F9 B5 B1046.2,CCAFS SLC-40,Merah Putih,5800,GTO,Telkom Indonesia,Success,Success
36,10-09-2018,04:45:00,F9 B5B1049.1,CCAFS SLC-40,Telstar 18V / Apstar-5C,7060,GTO,Telesat,Success,Success
37,05-12-2018,18:16:00,F9 B5B1050,CCAFS SLC-40,SpaceX CRS-16,2500,LEO (ISS),NASA (CRS),Success,Failure
38,23-12-2018,13:51:00,F9 B5B1054,CCAFS SLC-40,GPS III-01,4400,MEO,USAF,Success,No attempt
39,22-02-2019,01:45:00,F9 B5 B1048.3,CCAFS SLC-40,"Nusantara Satu, Beresheet Moon lander, S5",4850,GTO,"PSN, SpaceIL / IAI",Success,Success
40,04-05-2019,06:48:00,F9 B5B1056.1,CCAFS SLC-40,"SpaceX CRS-17, Starlink v0.9",2495,LEO (ISS),NASA (CRS),Success,Success
41,24-05-2019,02:30:00,F9 B5 B1049.3,CCAFS SLC-40,"Starlink v0.9, RADARSAT Constellation",13620,LEO,SpaceX,Success,Success
42,25-07-2019,22:01:00,F9 B5 B1056.2,CCAFS SLC-40,"SpaceX CRS-18, AMOS-17",2268,LEO (ISS),NASA (CRS),Success,Success
43,06-08-2019,23:23:00,F9 B5 B1047.3,CCAFS SLC-40,"AMOS-17, Starlink 1 v1.0",6500,GTO,Spacecom,Success,No attempt
44,11-11-2019,14:56:00,F9 B5 B1048.4,CCAFS SLC-40,"Starlink 1 v1.0, SpaceX CRS-19",15600,LEO,SpaceX,Success,Success
45,05-12-2019,17:29:00,F9 B5B1059.1,CCAFS SLC-40,"SpaceX CRS-19, JCSat-18 / Kacific 1",2617,LEO (ISS),"NASA (CRS), Kacific 1",Success,Success
46,17-12-2019,00:10:00,F9 B5 B1056.3,CCAFS SLC-40,"JCSat-18 / Kacific 1, Starlink 2 v1.0",6956,GTO,"Sky Perfect JSAT, Kacific 1",Success,Success
47,07-01-2020,02:33:00,F9 B5 B1049.4,CCAFS SLC-40,"Starlink 2 v1.0, Crew Dragon in-flight abort t...",15600,LEO,SpaceX,Success,Success
48,29-01-2020,14:07:00,F9 B5 B1051.3,CCAFS SLC-40,"Starlink 3 v1.0, Starlink 4 v1.0",15600,LEO,SpaceX,Success,Success
49,17-02-2020,15:05:00,F9 B5 B1056.4,CCAFS SLC-40,"Starlink 4 v1.0, SpaceX CRS-20",15600,LEO,SpaceX,Success,Failure
50,07-03-2020,04:50:00,F9 B5 B1059.2,CCAFS SLC-40,"SpaceX CRS-20, Starlink 5 v1.0",1977,LEO (ISS),NASA (CRS),Success,Success
51,04-06-2020,01:25:00,F9 B5 B1049.5,CCAFS SLC-40,"Starlink 7 v1.0, Starlink 8 v1.0",15600,LEO,"SpaceX, Planet Labs",Success,Success
52,13-06-2020,09:21:00,F9 B5 B1059.3,CCAFS SLC-40,"Starlink 8 v1.0, SkySats-16, -17, -18, GPS III...",15410,LEO,"SpaceX, Planet Labs",Success,Success
53,30-06-2020,20:10:46,F9 B5B1060.1,CCAFS SLC-40,"GPS III-03, ANASIS-II",4311,MEO,U.S. Space Force,Success,Success
54,20-07-2020,21:30:00,F9 B5 B1058.2,CCAFS SLC-40,"ANASIS-II, Starlink 9 v1.0",5500,GTO,"Republic of Korea Army, Spaceflight Industries...",Success,Success
55,18-08-2020,14:31:00,F9 B5 B1049.6,CCAFS SLC-40,"Starlink 10 v1.0, SkySat-19, -20, -21, SAOCOM 1B",15440,LEO,"SpaceX, Planet Labs, PlanetIQ",Success,Success
56,30-08-2020,23:18:00,F9 B5 B1059.4,CCAFS SLC-40,"SAOCOM 1B, GNOMES 1, Tyvak-0172",3130,SSO,"CONAE, PlanetIQ, SpaceX",Success,Success
57,24-10-2020,15:31:34,F9 B5 B1060.3,CCAFS SLC-40,"Starlink 14 v1.0, GPS III-04",15600,LEO,SpaceX,Success,Success
58,05-11-2020,23:24:23,F9 B5B1062.1,CCAFS SLC-40,"GPS III-04 , Crew-1",4311,MEO,USSF,Success,Success
59,25-11-2020,02:13:00,F9 B5 B1049.7,CCAFS SLC-40,"Starlink 15 v1.0, SpaceX CRS-21",15600,LEO,SpaceX,Success,Success

In [10]:
%sql select sum(PAYLOAD_MASS__KG_) from spacex_data where Customer like 'NASA (CRS)'

 * mysql://root:***@localhost/spacex
1 rows affected.

  sum(PAYLOAD_MASS__KG_)
0                  45596

In [11]:
%sql select Booster_Version, avg(PAYLOAD_MASS__KG_) as `Average Payload Mass` from spacex_data where Booster_Version like 'F9 v1.1'

 * mysql://root:***@localhost/spacex
1 rows affected.

  Booster_Version Average Payload Mass
0         F9 v1.1            2928.4000

In [12]:
%sql select min(Date), `Landing _Outcome` from spacex_data where `Landing _Outcome` like 'Success (ground pad)'

 * mysql://root:***@localhost/spacex
1 rows affected.

    min(Date)      Landing _Outcome
0  01-05-2017  Success (ground pad)

In [13]:
%sql select Mission_Outcome, count(Mission_Outcome) as Total from spacex_data group by Mission_Outcome;

 * mysql://root:***@localhost/spacex
4 rows affected.

                    Mission_Outcome  Total
0                           Success     98
1               Failure (in flight)      1
2  Success (payload status unclear)      1
3                          Success       1

In [14]:
%sql select Booster_Version from spacex_data where PAYLOAD_MASS__KG_ like (select max(PAYLOAD_MASS__KG_) from spacex_data)

 * mysql://root:***@localhost/spacex
12 rows affected.

   Booster_Version
0    F9 B5 B1048.4
1    F9 B5 B1049.4
2    F9 B5 B1051.3
3    F9 B5 B1056.4
4    F9 B5 B1048.5
5    F9 B5 B1051.4
6    F9 B5 B1049.5
7   F9 B5 B1060.2
8   F9 B5 B1058.3
9    F9 B5 B1051.6
10   F9 B5 B1060.3
11  F9 B5 B1049.7

In [29]:
#List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015
%sql select `Landing _Outcome` , Booster_Version, Launch_Site from spacex_data \
where `Landing _Outcome` like 'Failure (drone ship)' and Date like '%2015%';

 * mysql://root:***@localhost/spacex
2 rows affected.

       Landing _Outcome Booster_Version  Launch_Site
0  Failure (drone ship)   F9 v1.1 B1012  CCAFS LC-40
1  Failure (drone ship)   F9 v1.1 B1015  CCAFS LC-40

In [31]:
# Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) 
# between the date 2010-06-04 and 2017-03-20, in descending order
%sql select * from spacex_data limit 3;

 * mysql://root:***@localhost/spacex
3 rows affected.

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing _Outcome
0,04-06-2010,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,08-12-2010,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,22-05-2012,07:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt

In [39]:
%sql select `Landing _Outcome` , count(`Landing _Outcome`) as count from spacex_data \
where Date between '04-06-2010' and '20-03-2017' group by `Landing _Outcome` \
order by count desc;

 * mysql://root:***@localhost/spacex
9 rows affected.

       Landing _Outcome  count
0               Success     20
1            No attempt     10
2  Success (drone ship)      8
3  Success (ground pad)      6
4  Failure (drone ship)      4
5    Controlled (ocean)      3
6               Failure      3
7   Failure (parachute)      2
8           No attempt       1